.header {
    background-color: #fff;
    /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
    position: fixed;
    width: 100%;
    z-index: 3;
    padding-top: 10px;
    padding-left: 3vw;
    padding-right: 20px;
    transform: translateY(0);
   transition: transform 0.3s ease;
}

.header.shadow {
    box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}
  
.header.hidden {
    transform: translateY(-110%);
}
  
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    
    
}

.menu-item {
    height: 100%;
    
}
  
.menu-link {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
}
  
.menu-link:hover,
.header .menu-btn:hover {
    background-color: #f5ed12;
    border-radius: 5px;
    transition: 500ms ease-in-out;
}
  
.inner-logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    width: 100px;
}
  
  /* menu */
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.menu-icon {
    margin-top: 10px;
    margin-bottom: 10px;
    
}
  
  /* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .nav-icon:before {
    top: 5px;
}
  
.header .menu-icon .nav-icon:after {
    top: -5px;
}
  
  /* menu btn */
  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}
  
  
  /* 48em = 768px @ 16pt font */
  
@media (min-width: 48em) {
    .menu-item {
      float: left;
    }
    .menu-link {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }

    .menu {
        margin-top: 1vw;
        margin-bottom: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 2px;
    }

    .inner-logo {
        width: 200px;
    }
}

/* .headroom {
    top: 0;
    left: 0;
    right: 0;
    zIndex: 1;
    
}
.headroom--unfixed {
    position: relative;
    transform: translateY(0);
}
.headroom--scrolled {
    transition: transform 500ms ease-in-out;
}
.headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
    
}
.headroom--pinned {
    position: fixed;
    transform: translateY(0%);
} */