@font-face {
    font-family: "Campton Thin Italic";
    src: url(Campton-ThinItalic.otf), format("otf");
    font-family: "Campton Thin";
    src: url(Campton-Thin.otf), format("otf");
    font-family: "Campton Semibold Italic";
    src: url(Campton-SemiboldItalic.otf), format("otf");
    font-family: "Campton Semibold";
    src: url(Campton-Semibold.otf), format("otf");
    font-family: "Campton Medium Italic";
    src: url(Campton-MediumItalic.otf), format("otf");
    font-family: "Campton Medium";
    src: url(Campton-Medium.otf), format("otf");
    font-family: "Campton Light Italic";
    src: url(Campton-LightItalic.otf), format("otf");
    font-family: "Campton Light";
    src: url(Campton-Light.otf), format("otf");
    font-family: "Campton Extra Light Italic";
    src: url(Campton-ExtraLightItalic.otf), format("otf");
    font-family: "Campton Extra Light";
    src: url(Campton-ExtraLight.otf), format("otf");
    font-family: "Campton Extra Bold Italic";
    src: url(Campton-ExtraBoldItalic.otf), format("otf");
    font-family: "Campton Bold Italic";
    src: url(Campton-BoldItalic.otf), format("otf");
    font-family: "Campton Book Italic";
    src: url(Campton-BookItalic.otf), format("otf");
    font-family: "Campton Book";
    src: url(Campton-Book.otf), format("otf");
    font-family: "Campton Bold";
    src: url(Campton-Bold.otf), format("otf");
    font-family: "Campton Black Italic";
    src: url(Campton-BlackItalic.otf), format("otf");
    font-family: "Campton Black";
    src: url(Campton-Black.otf), format("otf");
    
}